<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>foodservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorldEnhanced</display-name>
    <servlet-name>HelloWorldEnhanced</servlet-name>
    <servlet-class>HelloWorldEnhanced</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldEnhanced</servlet-name>
    <url-pattern>/HelloWorldEnhanced</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorldEnhanced2</display-name>
    <servlet-name>HelloWorldEnhanced2</servlet-name>
    <servlet-class>HelloWorldEnhanced2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldEnhanced2</servlet-name>
    <url-pattern>/HelloWorldEnhanced2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveServlet</display-name>
    <servlet-name>RetrieveServlet</servlet-name>
    <servlet-class>RetrieveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveServlet</servlet-name>
    <url-pattern>/RetrieveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReviewPage</display-name>
    <servlet-name>GetReviewPage</servlet-name>
    <servlet-class>onemenu.GetReviewPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReviewPage</servlet-name>
    <url-pattern>/GetReviewPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>onemenu.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>onemenu.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewsForUser</display-name>
    <servlet-name>ReviewsForUser</servlet-name>
    <servlet-class>onemenu.ReviewsForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewsForUser</servlet-name>
    <url-pattern>/ReviewsForUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodItem</display-name>
    <servlet-name>AddFoodItem</servlet-name>
    <servlet-class>onemenu.AddFoodItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodItem</servlet-name>
    <url-pattern>/AddFoodItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePrice</display-name>
    <servlet-name>UpdatePrice</servlet-name>
    <servlet-class>onemenu.UpdatePrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePrice</servlet-name>
    <url-pattern>/UpdatePrice</url-pattern>
  </servlet-mapping>
</web-app>